:root{
	--primary: #86C232;
	--secondary: #222629;
	--altprimary: #61892F;
	--altsecondary: #474B4F;
	--extra: #6B6E70;
}
html, body, p, h1, h2, h3{
	padding: 0px;
	border: 0px;
	margin: 0px
}

.wrapper{
	padding: 0px;
	border: 0px;
	margin: 0px;
	width: 100%;
	background: var(--secondary);
}

.header{
	margin: 0px 40px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--primary);
	border-bottom: 2px solid var(--extra);
}

.btn{
	border-radius: 50px;
	padding: 10px;
	border: none;
	width: 170px;
}

.btn:hover{
	cursor: pointer;
	box-shadow: 2px 2px var(--extra);
}

.btn-light-outline{
	border: 0.5px solid var(--extra);
	background: white;
}

.btn-dark{
	background: var(--primary);
	border: 0.5px solid var(--extra);
	color: white;
}