@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Murecho:wght@300&display=swap');

:root{
	--primary: #4484CE;
	--secondary: #F19F4D;
	--altprimary: #F9CF00;
	--altsecondary: #D9D9D9;
	--extra: #222629;
	font-family: 'Murecho', sans-serif;
}
html, body, p, h1, h2, h3, a{
	padding: 0px;
	border: 0px;
	margin: 0px
}
.logo{
	font-size: 30px;
}

i{
	margin: 0px 10px;
	font-size: 14px;
}

.wrapper{
	padding: 0px;
	border: 0px;
	margin: 0px;
	width: 100%;
}

.header{
	margin: 0px 40px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--primary);
	border-bottom: 0.2px solid dimgray;
}

.btn{
	padding: 10px;
	border: none;
	width: 160px;
	border: 0.2px solid dimgray;
	text-align: center;
}

.btn:hover{
	cursor: pointer;
	color:  black;
	background-color: var(--altsecondary);
}

.btn-light-outline{
	background: white;
}

.btn-dark{
	background: var(--primary);
	color: white;
}

.txt{
	border: 0.2px solid dimgray;
	width: 350px;
	height: 30px;
	margin: 0px 0px 10px 0px;
	font-size: 20px;
}

#login-form h1{
	margin: 20px 0px;
}

#register-form h1{
	margin: 20px 0px;
}

.hero{
	margin: 0px 40px;
	background-color: var(--extra);
	color: #fff;
	text-align: center;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about{
	margin: 0px 40px;
	background-color: var(--secondary);
	color: #fff;
	text-align: center;
	height: 500px;
}

.services{
	margin: 0px 40px;
	background-color: var(--altsecondary);
	color: #fff;
	text-align: center;
	height: 500px;
}

.footer{
	margin: 0px 40px;
	background-color: var(--extra);
	color: #fff;
	text-align: center;
	height: 150px;
}

.left-section{
	width: 70%;
	height: 100vh;
	background-color: var(--altsecondary);
	float: left;
}

.left-section img{
	width: 100%;
	height: 100vh;
	filter: blur(1px);
}

.right-section{
	width: 30%;
	height: 100vh;
	display: flex;
	float: left;
	align-items: center;
	justify-content: center;
}

.login-actions{
	display: flex;
	justify-content: space-between;
}

.carlist-ul{
	list-style-type: none;
	margin: 0px !important;
	padding: 0px;
}

.cars{
    border: 0.2px solid var(--altsecondary);
	padding: 20px;
	margin: 10px 0px;
}

.cars a{
	text-decoration: none;
	color: black;
}

.carlist-action-btns{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.err-strip{
	width: 95%;
	margin: 10px 0px;
	padding: 10px;
	background-color: pink;
	border: 0.5px solid red;
	border-radius: 5px;
}

.logo-action{
	display: flex;
	align-items: center;
}

#searchbar{
	padding: 2px;
	width: 220px;
	border: none;
}

.content{
	margin: 0px 40px;
	background-color: #fff;
}

.delete{
	font-size: 18px;
	color: red;
	cursor: pointer;
}

.edit{
	font-size: 18px;
	color: var(--primary);
	cursor: pointer;
}

.main-grid{
	display: flex;
	align-items: center;
	margin: 20px 0px;
}

.lgrid{
	width: 40%;
}

.rgrid{
	width: 40%;
}

.form-grid{
	display: flex;
	align-items: center;
}

.flgrid{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	width: 40%;
	height: 150px;
	margin-left: 20px;
}

.frgrid{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	width: 40%;
	height: 150px;
}

.savebtn{
	margin-bottom: 20px;
}

.dtext{
	padding: 5px;
	font-size: 20px;
	color: green;
}

.dtext b{
	color: var(--extra);
}

.logout{
	text-align: center;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logout-logo{
	font-size: 100px;
	color: green;
}

.logout a{
	margin: 20px;
	font-size: 24px;
}

.sfield{
	border: 0.5px solid var(--extra);
	padding: 3px 2px 8px 2px;
	width: 220px;
	margin: 2px;
}

#id_error{
	font-size: 11px;
	color: red;
}

#booking-form{
	width: 100%;
	padding: 10px 0px;
	background-color: var(--altsecondary);
}

#from_date, #to_date{
	width: 200px;
	padding: 4px 0px;
	margin-left: 20px;
}

#numberofdays{
	width: 200px;
	padding: 4px 0px;
	margin-left: 8px;
}

#timePeriod{
	padding: 4px 0px;
}

#total_cost, #total_cost_label{
	background: none;
	color: black;
	border: none;
	font-size: 22px;
	margin-left: 8px;
	font-weight: bold;
}


/* -- For mobile responsiveness -- */

@media only screen and (max-width: 768px){

	.header{
		display: block;
		margin: 0px 10px;
		text-align: center;
	}

	.header h1{
		margin: 30px 0px 8px 0px;
	}

	.btn{
		width: 140px;
	}

	.btn-grp{
		display: flex;
		justify-content: space-between;
		margin: 0px;
	}

	.left-section{
		display: flex;
		height: 40vh;
		width: 100%;
	}

	.left-section img{
		width: 100%;
		height: 40vh;
		filter: blur(1px);
	}

	.right-section{
		width: 100%;
		height: 60vh;
		display: flex;
		align-items: flex-start;
	}

	.regl{
		height: 0vh;
		display: none;
	}

	.regr{
		margin: 20px 0px 0px 0px;
		height: 90vh;
	}

	.txt{
		width: 300px;
	}

	.hero{
		margin: 0px 10px;
	}

	.about{
		margin: 0px 10px;
	}

	.services{
		margin: 0px 10px;
	}

	.footer{
		margin: 0px 10px;
	}

	.logo-action h1{
		margin: 0px;
		padding: 5px 0px;
	}

	.content{
		margin: 0px 10px;
	}

	.content h1{
		margin: 5px 0px;
	}

	.main-grid{
		display: block;
	}

	.lgrid{
		width: 100%;
	}

	.rgrid{
		width: 100%;
	}

	.form-grid{
		display: block;
	}

	.flgrid{
		width: 100%;
	}

	.frgrid{
		width: 100%;
		align-items: center;
	}

	#numberofdays{
		width: 120px;
		padding: 4px 0px;
		margin-left: 8px;
	}
}