        <div class="left-section">
            <button onclick="window.location='/'" class="btn btn-light-outline">Back</button>
        </div>
        <div class="right-section">
         
        <form action="/adminLogin" method="post" id="admin-login-form">
            <h1>Login</h1>
            <div >
                <label>Username : <br/>
                    <input type="text" name="username" id="ausername" class="txt"/>
                </label>
            </div>
            <div >
                <label>Password : <br/>
                    <input type="password" name="password" id="apassword" class="txt"/>
                </label>
            </div>

            <div >
                <input type="submit" value="Login" class="btn btn-dark"/>
            </div>
        </form>
        
        </div>

        {{#if hasErrors}}
        <h2>{{{error}}}</h2>
        {{/if}} 

