<div class="wrapper">
    <div class="header">
        <span class="logo-action">
            <i class="logo fas fa-arrow-circle-left" onclick="window.location='/'"></i>
            <h1><i class="logo fas fa-car"></i>ezCars</h1>
        </span>
        <span class="btn-grp">
            <button onclick="window.location='/admin/rentedCars'" class="btn btn-light-outline">Rented Car List</button>
            <button onclick="window.location='/admin/carList'" class="btn btn-dark">Car List</button>
        </span>
    </div>
    <div class="content">
        <h1>User Requests ({{body.length}})</h1>
        {{#if body.length}}
        <ul class="carlist-ul">
            {{#each body}}
            <li class="cars">
                {{this.userId}}
                <span>
                    <button onclick="window.location='/admin/approveRequest/{{this._id}}'">Approve</button>
                    <button onclick="window.location='/admin/rejectRequest/{{this._id}}'">Reject</button>
                </span>
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</div>