<div class="left-section">
    <img src="../../public/resources/images/bg-img.jpg" alt="bgimg" />
</div>
<div class="right-section">
    <div>
        <form action="/admin/adminLogin" method="post" id="login-form">
            <h1>Admin Login</h1>
            <div>
                <label><i class="fas fa-user"></i>Username : <br />
                    <input type="text" name="username" id="username" class="txt" />
                </label>
            </div>
            <div>
                <label><i class="fas fa-key"></i>Password : <br />
                    <input type="password" name="password" id="password" class="txt" />
                </label>
            </div>

            <div class="login-actions">
                <input type="submit" value="Login" class="btn btn-dark" />
                <input onclick="window.location='/'" value="Back" class="btn btn-light-outline" />
            </div>

            {{#if hasErrors}}
            <div class="err-strip">
                <p>{{{error}}}</p>
            </div>
            {{/if}}
        </form>
    </div>
    <footer>
        <p id="time"  class="formating">1:43</p>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="public/js/time.js"></script>
</div>