<div class="wrapper">
        <div class="header">
            <span>  
                <button onclick="window.location='/adminDashboard'" class="btn btn-light-outline">Back</button>      
                <h1>Rent-a Car</h1>
            </span>
            <span class="btn-grp">
                    <button onclick="window.location='/addCar'" class="btn btn-light-outline">Add Car</button>
            </span>
        </div>
        <div class="services">
            <h2>Cars List</h2>
            {{#if body.length}}
            <ul>
                {{#each body}}
                    <li>
                        <a href="/cars/{{this._id}}">{{this.model}}</a>
                        <button onclick="window.location='/deleteCar/{{this._id}}'">Delete</button>
                        <button onclick="window.location='/editCar/{{this._id}}'">Edit</button>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
        </div>
        <div class="footer"></div>
    </div>


    