<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rent-a-car</title>
    <link rel="stylesheet" href="/public/css/site.css">
</head>
<body>
    <main>
        {{{error}}}
    </main>
</body>
</html>