<div class="wrapper">
    <div class="header">
           <div>
            <h1><i class="logo fas fa-car"></i>ezCars</h1>
        </div>
        <span class="btn-grp">
            {{#if login}}
            <button onclick="window.location='/admin'" class="btn btn-light-outline">Admin Login<i
                    class="fas fa-sign-in-alt"></i></button>
            <button onclick="window.location='/login'" class="btn btn-light-outline">Login<i
                    class="fas fa-sign-in-alt"></i></button>
            <button onclick="window.location='/register'" class="btn btn-dark">Register<i
                    class="fas fa-user-plus"></i></button>
            {{/if}}
            {{#if user}}
            <button onclick="window.location='/userDashboard'" class="btn btn-light-outline">My Dashboard</button>
            <button onclick="window.location='/userProfile'" class="btn btn-light-outline">My Profile</button>
            <button onclick="window.location='/logout'" class="btn btn-dark">Logout</button>
            {{/if}}
            {{#if admin}}
            <button onclick="window.location='/admin/adminDashboard'" class="btn btn-light-outline">My
                Dashboard</button>
            <button onclick="window.location='/logout'" class="btn btn-dark">Logout</button>
            {{/if}}
        </span>
    </div>
    <div class="hero">
        <img src="../../public/resources/images/hero-img2.jpg" alt="heroimg" />
        <div class="centered">
            <h1>Choose your dream car</h1>
            <p>At a price as low as $10 per hour</p>
            {{#if user}}
                <button class="btn btn-dark" onclick="window.location='/userDashboard'">Book Now!</button>
            {{/if}}
            {{#if login}}
                <button class="btn btn-dark" onclick="window.location='/login'">Book Now!</button>
            {{/if}}
        </div>
    </div>
    <div class="about">
        <div class="landing-content">
            <h1>Our Services</h1>
            <div class="section-main">
                <div class="section-1">
                    <i class="logo-sr fas fa-handshake"></i>
                    <h3>Personalised service by experts</h3>
                </div>
                <div class="section-2">
                    <i class="logo-sr fas fa-clock"></i>
                    <h3>Round the clock support & assistance</h3>
                </div>
                <div class="section-3">
                    <i class="logo-sr fas fa-door-open"></i>
                    <h3>Door drop & pickup of your selected vehicle</h3>
                </div>
                <div class="section-4">
                    <i class="logo-sr fas fa-user-tie"></i>
                    <h3>Professional chauffeur available on hourly basis</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-main">
            <div class="f1">
                <h2>Address:</h2>
                <p>#1 street, downtown,<br />New Jersey</p>
            </div>
            <div class="f1">
                <h2>Contact Us:</h2>
                <p>Email: support@ezcars.com</p>
                <p>Contact: 100-999-823 (Toll free)</p>
            </div>
            <div class="f1">
                <h2>Important Links:</h2>
                <p>
                    <a href="/admin">Admin Login</a>
                </p>
                <p>
                    <a href="/login">User Login</a>
                </p>
                <p>
                    <a href="/register">New user registration</a>
                </p>
            </div>
        </div>
        <div class="footerbar">
            <p>&copy; ezCars LLC. All rights reserved 2021-22.</p>
        </div>
    </div>
    <footer>
        <p id="time"  class="formating">1:43</p>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="public/js/time.js"></script>
</div>