    <header>        
        <h1>Welcome to Rent-a car</h1>
    </header>

    <button onclick="window.location='/login'" >Login</button>
    <button onclick="window.location='/register'" >Register</button>