    <div class="wrapper">
    <div class="header">
        <span>        
            <h1>Rent-a Car</h1>
        </span>
        <span>
            <button onclick="window.location='/login'" class="btn btn-light-outline">Login</button>
            <button onclick="window.location='/register'" class="btn btn-dark">Register</button>
        </span>
    </div>
    </div>