<div class="wrapper">
    <div class="header">
        <span>
            <h1><i class="logo fas fa-car"></i>ezCars</h1>
        </span>
        <span class="btn-grp">
            {{#if login}}
            <button onclick="window.location='/login'" class="btn btn-light-outline">Login<i
                    class="fas fa-sign-in-alt"></i></button>
            <button onclick="window.location='/register'" class="btn btn-dark">Register<i
                    class="fas fa-user-plus"></i></button>
            {{/if}}
            {{#if user}}
            <button onclick="window.location='/userDashboard'" class="btn btn-light-outline">My Dashboard</button>
            <button onclick="window.location='/logout'" class="btn btn-dark">Logout</button>
            {{/if}}
            {{#if admin}}
            <button onclick="window.location='/adminDashboard'" class="btn btn-light-outline">My Dashboard</button>
            <button onclick="window.location='/logout'" class="btn btn-dark">Logout</button>
            {{/if}}
        </span>
    </div>
    <div class="hero">
        <h1>Where the world travels hassle free</h1>
    </div>
    <div class="about"></div>
    <div class="services"></div>
    <div class="footer"></div>
</div>