<div class="content logout">
    <div>
        <i class="logout-logo far fa-thumbs-up"></i>
        <h1>You have been logged out. Log back in by visiting the link below:</h1>
        <a href="/">{{{link}}}</a>
    </div>
</div>