<div class="wrapper">
    <div class="header">
        <span class="logo-action">
            <i class="logo fas fa-arrow-circle-left" onclick="window.location='/'"></i>
            <h1><i class="logo fas fa-car"></i>ezCars</h1>
        </span>
        <span class="btn-grp">
            <span class="sfield">
                <i class="fas fa-search"></i>
                <input id="searchbar" onkeyup="search_car()" type="text" name="search" placeholder="Search car..">
            </span>

            <button onclick="window.location='/userHistory'" class="btn btn-light-outline">History<i
                    class="fas fa-history"></i></button>
            <p id="id_error" hidden></p>
        </span>

    </div>
    <div class="content">
        <h1>Cars ({{body.length}})</h1>
        {{#if body.length}}
        <ul class="carlist-ul">
            {{#each body}}
            <li class="cars">
                <a href="/cars/{{this._id}}">{{this.model}}</a>
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>

    <script src="public/js/carSearch.js"></script>