<div class="wrapper">
        <div class="header">
            <span> 
                 <button onclick="window.location='/'" class="btn btn-light-outline">Back</button>       
                <h1>Rent-a Car</h1>
            </span>
             <span class="btn-grp">
                    <button onclick="window.location='/userHistory'" class="btn btn-light-outline">History</button>
            </span>
            </div>
        <div class="services">
        {{#if body.length}}
            <ul>
                {{#each body}}
                    <li>
                        <a href="/car/{{this._id}}">{{this.model}}</a>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
        </div>