<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/site.css">
</head>
<body>
    <main>
        {{#if body.length}}
            <ul>
                {{#each body}}
                    <li>
                        <a href="/car/{{this._id}}">{{this.model}}</a>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    </main>
</body>
</html>